<p id="notice"><%= notice %></p>

<h1>Noticia</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Fecha</th>
      <th>Infoorigen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticia.each do |noticium| %>
      <tr>
        <td><%= noticium.titulo %></td>
        <td><%= noticium.nombre %></td>
        <td><%= noticium.descripcion %></td>
        <td><%= noticium.fecha %></td>
        <td><%= noticium.infoOrigen %></td>
        <td><%= link_to 'Show', noticium %></td>
        <td><%= link_to 'Edit', edit_noticium_path(noticium) %></td>
        <td><%= link_to 'Destroy', noticium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticium', new_noticium_path %>
