<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @noticium.titulo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @noticium.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @noticium.descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @noticium.fecha %>
</p>

<p>
  <strong>Infoorigen:</strong>
  <%= @noticium.infoOrigen %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
